<template>
  <div class="home">
    
    <Graphics/>
  </div>
</template>

<script>
// @ is an alias to /src
import Graphics from '@/components/Graphics.vue'

export default {
  name: 'Home',
  components: {
    Graphics
  }
}
</script>
