<template>
 
 <div class="flex graph" data-app>
 <v-card  
 v-if= "state.arret === null || showForm === true"
    >
     <v-col
      >
        <v-select
          :items="lignes"
          v-model="ligne"
          filled
          label="Choisir la ligne"
        ></v-select>

        <v-select
          :items="jours"
          v-model="jour"
          filled
          label="Choisir le jour"
        ></v-select>

       

<v-btn
  elevation="2"
  @click ="selectTrafic"
>Rechercher</v-btn>

      </v-col>
      </v-card>
<div class="flex" v-if="showGraphic === true || state.arret != null">
<v-card
    class="mx-auto text-center"
    color="green"
    dark
  >
    <v-card-text>
      <v-sheet color="green">
        <v-sparkline
          :value="value"
          color="rgba(255, 255, 255, .7)"
          height="100"
          padding="24"
          stroke-linecap="round"
          smooth
        >
          <template v-slot:label="item">
            {{ item.value }}
          </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <div class="display-1 font-weight-thin">
        Affluences 
        <span v-if="state.arret != null">
         à l'arrêt {{state.arret}} le {{state.date}}

    </span>
      </div>
    </v-card-text>

    <v-divider></v-divider>

  </v-card>

  <div class="autreRecherche">
      <v-btn v-if="state.arret != null && showForm === false" @click="showForm = true">
          Autre recherche
      </v-btn>
  </div>
</div>
</div>
</template>
<script>
//import { VueFunnelGraph } from 'vue-funnel-graph-js';
import { mapState } from 'vuex'
export default {
  name: 'Graphics',
 /* components: {
      VueFunnelGraph
  },*/
  data () {
    return {
        showForm: false,
        showGraphic :false,
         value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760,
      ],
        jours: ['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'],
      jour: null,
      lignes: ['1','2','3','4','5','6','7'],
      ligne: null,
         
      };
  },

  computed: {
  ...mapState({
    state: state => state
  })
},

    created() {
    this.getTrafic();
  },

    methods: {
    getTrafic() {
      /* https://jaffrelot-notes-api.herokuapp.com/notes */
      /* http://localhost:3000/notes */
      fetch("https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_tan-arrets&q=", {
        method: "GET"
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.notes = response;
          console.log(this.notes)
        })
        .catch(err => {
          console.log(err);
        });
    },

    selectTrafic() {
      var jour = this.jour
      var ligne = this.ligne
      console.log(jour+ligne)
      fetch("https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_tan-arrets&q=", {
        method: "GET"
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.trafic = response;
          console.log(this.trafic)
          this.showGraphic = true
                
        })
        .catch(err => {
          console.log(err);
        });
    },
},


};
</script>

<style lang="css" scoped>
.autreRecherche{
    margin-top: 20px;
}
.theme--dark.v-sheet{
    background-color: #fabb80;
}
.flex{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.graph{
    width: 800px;
    margin: auto;
}
</style>
