<template>


  <div class="flex" data-app>
    <v-card  
    class="d-flex"
        cols="12"
        sm="10">
     <v-col
      >
        <v-select
          :items="stations"
          v-model="station"
          filled
          label="Choisir la station"
        ></v-select>

        <v-menu
          
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
            v-model="date"
              label="Choisir la date"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            scrollable
            @input="menu = false"
          ></v-date-picker>
        </v-menu>
        <v-slider
        label="Heure"
            v-model="heure"
            class="align-center"
            max="23"
            min="00"
            hide-details
          >
          </v-slider>

          <v-slider
        label="Minutes"
            v-model="minutes"
            class="align-center"
            max="60"
            min="00"
            hide-details
          >
          </v-slider>

          <div>
          <span>{{heure}}</span> h <span>{{minutes}}</span>
          </div>

          
<v-btn
class="mt-10 pt-0"
  elevation="2"
  @click=selectTrafic
>Rechercher</v-btn>

<div><v-btn
  v-if="state.arret != null"
class="mt-10 pt-0"
  elevation="2"
  to="/graphics"
>Graphique</v-btn></div>


      </v-col>
      </v-card>
  <div id="mapContainer" class="basemap">
</div>
  </div>
</template>

<script>

import mapboxgl from 'mapbox-gl'
import 'mapbox-gl/dist/mapbox-gl.css'
import { mapState } from 'vuex'
export default {
  name: 'Maps',
  map: Object,
  data () {
    return {
      jours: ['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'],
      heure: this.heure,
      jour: null,
      minutes:null,
      accessToken: 'pk.eyJ1IjoiYW5uYWVsbGVqYWZmIiwiYSI6ImNrN3l0Z2VweTAxcHkzbm81NW01NW1pOWQifQ.kzdNOvHQToM6m74QFdYtYA',
      map: Object,
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      station: null,
      stations: [],
      traficMarker: null,
    }
  },

  mounted () {
    mapboxgl.accessToken = this.accessToken

    this.map = new mapboxgl.Map({ // eslint-disable-line no-new
      container: 'mapContainer',
      style: 'mapbox://styles/annaellejaff/ckhm2ipkl0v8j19nup7rqr6eb',
      center: [0.2, 48],
      zoom: 12
    })

    const geolocate = new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    })
     this.map.addControl(geolocate, "top-right")
  },

   placeMarker () {
     var marker = new mapboxgl.Marker() // eslint-disable-line no-unused-vars
       .setLngLat([12.550343, 55.665957])
       .addTo(this.map)
   },

  created() {
    this.getTrafic();
      fetch("http://109.24.160.48:3000/stations", {
        method: "GET",
        mode: 'cors'
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          response.forEach(response => {
            this.stations.push(response.name)
          });
          console.log(this.stations)
        })
  },


 computed: {
  ...mapState({
    state: state => state
  })
}, 
    methods: {
    getTrafic() {


      fetch("http://109.24.160.48:3000/stations", {
        method: "GET"
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.trafic = response;
          console.log(response)
        })
        .catch(err => {
          console.log(err);
        });
    },

    //recherche par arret/heure/minute
      async selectTrafic() {
      var date = this.date
      var heure = this.heure
      var minutes = this.minutes
      var station = this.station
      console.log(date+heure+station)
      fetch("http://109.24.160.48:3000/stations/station/" + station, {
        method: "GET",
        mode: 'cors'
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.trafic = response;
          console.log(this.trafic)

        fetch("http://109.24.160.48:3000/records/" + date +'/' + heure +'/'+'00' + '/' + this.trafic[0].id, {
        method: "GET",
        mode: 'cors'
      })
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.recordTrafic = response;
        
          var affluence = this.recordTrafic
        console.log(affluence)
          var lat = this.trafic[0].lattitude
      var long = this.trafic[0].longitude
      
      var popup = new mapboxgl.Popup({ offset: 25 }).setText(station,affluence)
      if(this.traficMarker != null) {
        this.traficMarker.remove()
      }
      this.traficMarker = new mapboxgl.Marker() // eslint-disable-line no-unused-vars
       .setLngLat([long, lat])
       .setPopup(popup)
       .addTo(this.map)
       var lngLat = this.traficMarker.getLngLat();
       console.log('Longitude: ' + long + ', Latitude: ' + lat )
       

        })

        

      //ajouter les données au store
      this.$store.commit('updateDate', date)
        this.$store.commit('updateHeure', heure)
        this.$store.commit('updateMinutes', minutes)
        this.$store.commit('updateArret', station)

      
        
        })
        .catch(err => {
          console.log(err);
        });
    },

          placeMarker () {
        var popup = new mapboxgl.Popup({ offset: 25 }).setText('Construction on the Washington Monument began in 1848.')
        var marker = new mapboxgl.Marker() // eslint-disable-line no-unused-vars
          .setLngLat([12.550343, 55.665957])
          .addTo(this.map)
        marker = new mapboxgl.Marker() // eslint-disable-line no-unused-vars
            .setLngLat([0.190329, 47.997009])
            .setPopup(popup)
            .addTo(this.map)
   },

},
};
</script>
<style lang="css" scoped>
.basemap {
  width: 600px;
  height: 600px;
}
.flex{
  display: flex;
  justify-content: center;
  align-content: center;
}
.mt-10{
  margin-top: 50px;
}
.mapboxgl-ctrl-attrib-inner{
  display: none !important;
}

@media (max-width: 800px) { 
.flex{
  display: flex;
  flex-direction: column;
}
.basemap {
  width: 100vw;
  height: 500px;
}
}
</style>
