<template>
  <div id="app">
    <v-toolbar class="mb-5">

    <v-menu
      top
    >
      <template v-slot:activator="{ on }">
        <v-btn
          dark
          fab
          small
          v-on="on"
        >
         <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item
        >
          <v-list-item-title><router-link to="/">Map</router-link></v-list-item-title>
         </v-list-item>
      <v-list-item
        >
          <v-list-item-title><router-link to="/graphics">Graphiques</router-link></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    </v-toolbar>
    <div class="spacer"></div>
    <router-view/>
  </div>
</template>

<style lang="css">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.spacer{
  height: 50px;
}

.v-btn{
  background-color: #fabb80 !important;
}
</style>
